<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">DevSyd</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link" href="<%= forum_posts_path %>">Forum</a>
      </li>
      <li>
        <a class="nav-link" href="<%= blog_posts_path %>">Blog</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to current_user.fullname, user_path(current_user) %></li>
        <li><%= link_to "登出", destroy_user_session_path, method: "DELETE" %></li>
      <% else %>
        <li><%= link_to "登入", new_user_session_path %></li>
        <li><%= link_to "註冊", new_user_registration_path %></li>
      <% end %>
    </ul>
</nav>
