<nav class="navbar navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">DevSyd</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link" href="<%= forum_posts_path %>">Forum</a>
      </li>
      <li>
        <a class="nav-link" href="<%= blog_posts_path %>">Blog</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to current_user.fullname, user_path(current_user) %></li>
      <% else %>
        <%= form_for(@new_user, url: session_path(@new_user), html: {class: "navbar-form navbar-left" } ) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, placeholder: "密碼", class: "form-control" %>
          </div>
          <button type="submit" class="btn btn-default">登入</button>
        <% end %>
      <% end %>
    </ul>
</nav>
