<link href="https://cdn.quilljs.com/1.3.1/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.1/quill.js"></script>
<%= javascript_include_tag "forum/posts/new" %>

<%= render "layouts/container" do %>

  <div class="spacer"></div>

  <h2>發表新文章</h2>

  <div class="spacer"></div>

  <%= form_for @post do |f| %>
    <div class="editor">
      <%= f.text_field :title, class: "new-post-title", placeholder: "標題" %>

      <div class="spacer"></div>

      <div id="editor" class="editor-full"></div>

      <div class="editor-save">
        <span class="editor-save-text">儲存</span>
        <img src="<%= image_url("loading-small.gif") %>" alt="" class="loading hidden" />
      </div>
      <div class="editor-cancel">
        <span class="editor-cancel-text">取消</span>
      </div>

    </div>
  <% end %>
<% end %>
