<%= render "layouts/container" do %>
  <%= render "posts/post", post: @post %>
<% end %>

<%= render "layouts/container" do %>
  <div class="spacer" />

  <div class="edit-btn">
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    <span>回覆</span>
  </div>
  <div class="editor-container hidden">
    <%= render "components/editor" %>
  </div>

  <div class="spacer" />
  <%= render "comments/comments", comments: @post.comments %>
<% end %>
