<%= javascript_include_tag "forum/posts/show" %>

<%= render "layouts/container" do %>
  <%= render "posts/post", post: @post %>
<% end %>

<%= render "layouts/container" do %>
  <div class="spacer" />

  <div class="edit-btn">
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    <span>
      <% if current_user %>
        回覆
      <% else %>
        登入後參與討論
      <% end %>
    </span>
  </div>
  <div class="editor-container hidden">
    <%= render "components/editor" %>
  </div>

  <div class="spacer" />
  <%= render "comments/comments", comments: @comments %>
<% end %>
