<% @posts.each do |post| %>
  <div class="post-column">
    <div class="sidebar">
      
    </div>
    <div class="content">
      <div class="title">
        <a href="<%= forum_post_path(post) %>">
          <%= truncate(post.title, length: 30, omission: '...') %>
        </a>
      </div>
      
      <div class="author">
        <a href="<%= user_path(post.user) %>">
          <%= post.user.fullname %>
        </a>
      </div>

      <div class="datetime">
        <%= distance_of_time_in_words(Time.now, post.created_at, scope: 'datetime.distance_in_words.short') %>
      </div>
    </div>
  </div>
<% end %>
